.list {
	width: 85vw;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	.item {
		display: flex;
		flex-direction: column;
		margin: 5px;
		width: 150px;
		height: 200px;
		background-color: #3a374c;
		color: white;
		border: none;
		border-radius: 5px;
		padding: 5px;
		cursor: pointer;
		transform: translateZ(0);
		transition: all 0.25s ease-out;
		font-size: 12px;
		* {
			margin: 5px;
		}
		&:hover {
			transform: scale(1.05);
			background-color: #635e80;
		}
	}
}
